
/**
 * Game CSS
 */

body.game_on {
    background-image: url('../assets/images/background.png');
    background-size: cover;
    font-family: 'Calibri';
    font-size: 20px;
}

header {
    position: fixed;
    left: 50%;
    top: 0px;
}
#logo {
    position: relative;
    left: -50%;
    width: 300px;
    height: 100px;
    margin-top: 15px;
    background-image: url(../assets/images/logoInGame.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.character {
    position: fixed;
    top: 5%;
    width: 28%;
    height: 85%;
    z-index: 5;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#character_1 {
    left: -112px;
    background-image: url('../assets/images/characterPlayer1.png');
}
#character_2 {
    right: -112px;
    background-image: url('../assets/images/characterPlayer2.png');
}

#commands {
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    height: 23%;
}

.commands_board {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40%;
    height: 100%;
    margin-top: -35px;
}

.commands_board.right {
    align-items: flex-start;
}

.commands_board .spell {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
}

.commands_board .spell_icon {
    height: 70px;
    margin: 0px 10px;
}

.commands_board .command_icon {
    height: 40px;
    margin: 5px;
    margin-top: 25px;
}

.commands_board .grass_spell .spell_icon {
    position: relative;
    left: -5px;
}

.commands_board .water_spell .spell_icon {
    position: relative;
    left: 3px;
}

#helper {
    width: 20%;
    background-image: url(../assets/images/trinity.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    height: 230px;
    top: -45px;
}

#start_screen {
    background-color: black;
}
#start_screen #main_screen_logo {
    width: 60%;
    margin: auto;
    display: block;
    margin-top: 5%;
}
#start_screen #start_instruction {
    animation: twinkly 0.5s alternate infinite;
    margin: 5% 0px;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: white;
}

.fullscreen {
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    z-index: 10;
}

.fullscreen h1, .fullscreen h2 {
    width: 100%;
    margin: auto;
    color: white;
    text-align: center;
}
.fullscreen h1 {
    margin-top: 300px;
}

#loading_screen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 200;
}

#loader {
    width: 300px;
    height: 300px;
    transition: transform 2s linear;
}

#pregame_screen {
    display: block;
    background-color: black;
    z-index: 100;
}

#pregame_screen h1 {
    height: 5%;
    margin: 2% 0px;
    text-align: center;
}
#pregame_screen .game_logo {
    width: 300px;
    height: 100px;
    margin: 2% auto;
    background-image: url(../assets/images/logoInGame.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#pregame_screen .commands_instructions {
    width: 80%;
    height: 50%;
    margin: auto;
    background-image: url('../assets/images/commandInstructions.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#pregame_screen .difficulty_mode_container {
    visibility: hidden;
    width: 100%;
    height: 12%;
    padding-top: 60px;
    font-size: 25px;
    color: white;
}

.difficulty.slick-slide {
    display: none;
}

.difficulty.slick-slide:focus {
    outline: none;
}

#pregame_screen .slick-current {
    font-size: 40px;
}

#pregame_screen .difficulty_mode .difficulty {
    text-align: center;
}

#pregame_screen .press_a_container {
    display: flex;
    height: 10%;
    margin-top: 0%;
}

@keyframes twinkly {
    0% {opacity: 0.1;}
    100% {opacity: 1;}
}

#pregame_screen .press_a {
    width: 50%;
    background-image: url('../assets/images/pressAButton.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 260px 100px;
    color: transparent;
    animation: twinkly 0.5s alternate infinite;
}
#pregame_screen .press_a.ready {
    background: none;
    color: white;
    text-align: center;
    font-size: 61px;
    animation: none;
}

#pregame_screen .error {
    display: none;
    width: 100%;
    margin: auto;
    color: white;
    text-align: center;
}

#pregame_screen.notSupportedGamePad .notSupportedGamePad {
    display: block;
}
#pregame_screen.missingPadPlayer1 .missingPadPlayer1 {
    display: block;
}
#pregame_screen.missingPadPlayer2 .missingPadPlayer2 {
    display: block;
}

#pause_screen {
    display: none;
}

#win_screen {
    display: none;
    background-color: black;
}

#win_screen .game_logo {
    margin: auto;
    width: 300px;
    height: 100px;
    margin-top: 5%;
    background-image: url(../assets/images/logoInGame.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#win_screen .win_message {
    display: none;
    width: 100%;
    margin: auto;
    color: white;
    text-align: center;
}
#win_screen.player1Win .player1Win, #win_screen.player2Win .player2Win {
    display: block;
    font-size: 60px;
}

#win_screen .cup {
    margin: auto;
    display: block;
    height: 50%;
    margin-top: 2%;
}

#game {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 65%;
    z-index: -1;
}